@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 80px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }


}@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 17px/1.9em 'librebaskerville-regular', serif;
      width: 80%;
   }

}
   /* Header Styles
    -------------------------------------------------------------------- */
    header .banner {
       padding-bottom: 12px;
       padding-top: 6px;
    }
    header .banner-text h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
    header .banner-text h3 {
       font: 16px/1.9em 'librebaskerville-regular', serif;
       width: 85%;
    }
    header .banner-text hr {
       width: 80%;
       margin: 18px auto;
    }
 

@media only screen and (max-width: 480px) {

 
    /* header styles
    -------------------------------------------------------------------- */
    header .banner { padding-top: 24px; }
    header .banner-text h1 {
       font: 40px/1.1em 'opensans-bold', sans-serif;      
       margin: 0 auto 24px auto;
    }
    header .banner-text h3 {
       font: 14px/1.9em 'librebaskerville-regular', sans-serif;
       width: 90%;
    }
   
   

}


     /*About*/

     @media only screen and (max-width: 900px) {
        #about .prof {
            width: 114px;
            height: 114px;
            margin-left: 12px;
         }
    
         #about.main-col{
            padding-right: 5%;
         }
      
     } 
    
     @media only screen and (max-width: 767px) {
        #about .prof { 
            display: inline;
        margin-left: -9px;
        margin-bottom: 89px;
        }
        #about .main-col { padding-right: 30px; }
     }


     /*Resume */
     @media screen and (min-width: 980px){
      .exp-logo{
         flex: 0 0 10%;
     }
     .exp-info, .exp-desc{
         flex: 0 0 85%;
         margin-left: auto;
     }
     }
   

     /* Intérets */

     @media screen and (min-width: 980px){
      .loisirs{
         flex: 0 1 25%;
     }
     }

   /* form */

   .contact{
      padding-left: 20px;
      margin-right: auto;
      font-size: 17px;
      letter-spacing: 5px;
      font-weight: 600;
      color: black;
      margin-bottom: 105px;
  }