.interets{
    background-color: burlywood;
    padding-top: 85px;
    padding-bottom: 366px;
}
.inr{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    background-color: burlywood;
    flex-flow: row wrap;
}

.loisirs{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 41px;
}
 .loi{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

.cen{
    font-size: 17px;
    letter-spacing: 5px;
    font-weight: 600;
    color: black;
    margin-bottom: 160px;
}