.footer{
    padding-bottom: 21px;
    background-color: #e6dfd3;
}

.copy{
    width: 25px;
    margin-top: 20px;
    margin-left: -182px;
}

.right{
    margin-left: 278px;
    margin-top: -25px;
    margin-left: 83px;
}